services:
  pisite:
    build:
      context: ./services/web
      dockerfile: Containerfile
    image: localhost/pisite/web:test
    # Mount the GPIO chip so the contianer can access it.
    devices:
      - "${GPIO_DEVICE:?error}:${GPIO_DEVICE:?error}"
    ports:
      - "${PORT:?error}:${PORT:?error}"
    command: [
      "uv",
      "run",
      "gunicorn",
      "-w",
      "1",
      "-b",
      "${INTERFACE:?error}",
      "pisite.app:create_app('/pisite/config.toml', '${MONITOR_FILE:?error}', '${GPIO_DEVICE:?error}')"
    ]
    volumes:
      # FIXME change to a `config` when available in podman compose.
      - ./configs/config.toml:/pisite/config.toml:ro
      - monitor:/${MONITOR_VOLUME:?error}
      - /sys/class/thermal/thermal_zone0/temp:/sys/class/thermal/thermal_zone0/temp
  monitor:
    image: localhost/pisite/monitor:test
    build:
      context: ./services/monitor
      dockerfile: Containerfile
    command: ["/bin/sh", "run.sh", "${MONITOR_FILE:?error}", "60"]
    volumes:
      - /run/user/1000/podman/podman.sock:/run/podman/podman.sock:ro
      - monitor:${MONITOR_VOLUME:?error}
  # metrics:
  #   image: localhost/pisite/metrics:test
  #   build:
  #     context: ./services/metrics
  #     dockerfile: Containerfile
  #   devices:
  #     - /dev/vcio:/dev/vcio
  #     -
  nginx:
    image: docker.io/library/nginx:1.29.3-alpine3.22
    ports:
      - "80:80"
      - "443:443"
    # FIXME change to `config`s when available in podman compose.
    volumes:
      - ./services/nginx/default.conf:/etc/nginx/conf.d/default.conf:Z
      - ./services/nginx/certs:/etc/nginx/certs:Z
    depends_on:
      - pisite
    secrets:
      - raspberrypi.crt
      - raspberrypi.key

secrets:
  raspberrypi.crt:
    file: ./secrets/raspberrypi.crt
  raspberrypi.key:
    file: ./secrets/raspberrypi.key

volumes:
  monitor:
