services:
  pisite:
    build:
      dockerfile: Containerfile
    image: localhost/pisite:test
    devices:
      - /dev/gpiochip4:/dev/gpiochip4
    ports:
      - "${PORT:?error}:${PORT:?error}"
    command: ["uv", "run", "gunicorn", "-w", "1", "-b", "${INTERFACE:?error}", "pisite.app:create_app('/pisite/gpio.json')"]
    volumes:
      - ./configs/gpio.json:/pisite/gpio.json:ro
  nginx:
    image: docker.io/library/nginx:1.29.3-alpine3.22
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:Z
      - ./nginx/certs:/etc/nginx/certs:Z
    depends_on:
      - pisite
    secrets:
      - raspberrypi.crt
      - raspberrypi.key

secrets:
  raspberrypi.crt:
    file: ./nginx/certs/raspberrypi.crt
  raspberrypi.key:
    file: ./nginx/certs/raspberrypi.key

