<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hardware Control</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='switch.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
</head>
<body>
  <h1>Hardware Control</h1>
  <div class="leds-container">
    <div class="leds-label">LEDs</div>
     <label class="switch">
      <input type="checkbox" id="leds-switch" {{ 'checked' if leds_on else '' }}>
      <span class="slider round"></span>
    </label>
  </div>
  <div class="fan-container">
    <div class="fan-label">Fan</div>
     <label class="switch">
      <input type="checkbox" id="fan-switch" {{ 'checked' if fan_on else '' }}>
      <span class="slider round"></span>
    </label>
  </div>
  <!-- FIXME do somehting better than br -->
  <br>
  <a href="{{ url_for('static', filename='images/circuit.png') }}" target="_blank">
    control circuit diagram
  </a>
  <h1>Services</h1>
  <table id="service-statuses">
    <thead>
      <tr>
        <th>Service</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="service-monitor-table-body">
    </tbody>
  </table>
  <h1>Metrics</h1>
  <div>
    CPU Temperature: <span id="cpu-temperature"></span>
  </div>
  <meta name="token" content="{{ token }}">
  <script src="{{ url_for('static', filename='pisite.js') }}"></script>
</body>
</html>
